#header{
  background-color: #F9FF33 !important;
}
#header a:link, #header a:visited{
  color: #3C33FF !important;
}
div.breadcrumbs{
  background-color: #F9FF33;
}
.module h2, .module caption, .inline-group h2{
  background-color: #F9FF33;
}
.button, input[type=submit], input[type=button], .submit-row input, a.button{
  background-color: #F9FF33;
}
.button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover{
  background-color: #F9FF33;
}
a.section:link, a.section:visited{
  color: #3C33FF !important;
}
.button, input[type=submit], input[type=button], .submit-row input, a.button {
  color: #3C33FF !important;
}
#user-tools {
  color: #3C33FF !important;
}
div.breadcrumbs a {
  color: #3C33FF !important;
}
