{% extends 'base.html' %}
{% load static %}

{% block title %}
  About
{% endblock %}

{% block content %}
<section class="text-gray-600 body-font">
<div class="container px-5 py-11 mx-auto">
  <div class="flex flex-col text-center w-full mb-20">
    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"><u>ABOUT US</u></h1>
    <p class="lg:w-2/3 mx-auto leading-relaxed text-base">AR Enterprises was founded in Anantapur, 2021 by <u id="txt">SHAIK ABDUL RAWOOF</u> and <u id="txt">MOHAMMED SHAIK ABUBAKAR</u>. It is a website that acts as a platform for cement providing services starting from design until its completion. AR Enterprises showcases a wide range of cement brands available in the market.</p>
    <p class="lg:w-2/3 mx-auto leading-relaxed text-base">A client’s requirement would usually include a vision with objectives and a goal to complete them. They may approach individual vendors to have a prior understanding of the market, quality, pricing, and then arrive at a conclusion.</p>
    <p class="lg:w-2/3 mx-auto leading-relaxed text-base">AR Enterprises thrives in its ability to provide customers with transparent pricing and secure payment options. We also offer credit plans where one can pay through instalments. We maintain in-time payment transactions to all of our suppliers irrespective of customer payments.</p>
    <p class="lg:w-2/3 mx-auto leading-relaxed text-base">We consider a project complete when both the customer and the supplier are satisfied. Our team consists of experts in diverse fields who are dedicated to providing an excellent experience for you by leveraging the best of technology and customer service.</p>
  </div>
</div>
</section>
{% endblock %}
